@{
    Layout = "~/Views/Compartido/cabecera.cshtml";
    var productos = ViewBag.Productos;
}


@functions {
    string Clasificar(double precio)
    {
        if (precio < 20) return "Barato";
        if (precio <= 100) return "Precio medio";
        return "Caro";
    }
}


<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Categoría</th>
            <th>Precio (€)</th>
            <th>Clasificación</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in productos)
        {
            <tr>
                <td>@p.Nombre</td>
                <td>@p.Categoria</td>
                <td>@p.Precio.ToString("F2")</td>
                <td>@Clasificar(p.Precio)</td>
            </tr>
        }
    </tbody>
</table>

